$dark: #363636;
$green: #55C483;
$white: #FEFEFE;
$greenrg: rgba(85, 196, 131, .7);
$darkgrey: #949596;
$dareker: #363636;
$verydark: #2F2F2F;
$lightgrey: #EDEDEE;
$lightblue: #67B0D5;
$redrg: rgba(195, 112, 99, .7);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  background: $green;
}
::-webkit-scrollbar-thumb {
  background: $dark;
  height: 10px;
}

:focus {outline: none;}
p {font-size: 18px;}
/* Start Styling The Top Feed of The Website*/
.topFeed {
  width: 100%;
  min-height: 60px;
  background: $dark;
  .container {
    min-height: 60px;
    div {
      float: left;
      width: 50%;
      &:first-of-type {
        overflow: hidden;
        p {
          color: $darkgrey;
          float: left;
          &:last-of-type {
            font-weight: bold;
            color: $darkgrey;
            position: relative;
            padding: 20px 65px 20px 10px;
            margin: 0 10px;
            background: $verydark;
            font-size: 16px;
            span {
              color: $green;
              &:last-of-type {
                display: inline-block;
                background: $dark;
                color: $darkgrey;
                position: absolute;
                top: 15px;
                right: 10px;
                padding: 5px 10px;
                border-radius: 3px;
                cursor: pointer;
                transition: .4s ease-in-out;
                transition-property: background, color;
                &:hover {
                  color: $white;
                  background: $darkgrey;
                }
              }
            }
          }
        }
      }
      &:last-of-type {
        padding: 20px 10px;
        text-align: right;
        color: $darkgrey;
        i {
          padding: 0 10px;
          transition: color .4s ease-in-out;
          &:hover {
            color: $green;
            cursor: pointer;
          }
        }
        a {
          text-decoration: none;
          color: $darkgrey;
          font-size: 18px;
          transition: color .4s ease-in-out;
          &:first-of-type {
            padding-left: 15px;
            border-left: 1px solid $darkgrey;
          }
          &:hover {
            color: $green;
          }
        }
        span {padding: 0 10px;}
      }
    }
  }
}
/* End Styling The Top Feed of The Website*/
/* Start Styling The navbar of The Website*/
nav {
  width: 100%;
  background: $white;
  border-bottom: 10px solid $greenrg;
  .container {
    min-height: 70px;
    h1 {
      color: $dareker;
      margin: 14px auto;
      float: left;
      span {
        display: inline-block;
        position: relative;
        bottom: 2px;
        width: 13px;
        height: 13px;
        margin: auto 5px;
        background: $white;
        border: 3px solid $green;
        transform: rotate(-135deg);
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      min-height: 70px;
      float: left;
      li {
        float: left;
        a {
          text-decoration: none;
          color: $darkgrey;
          font-size: 20px;
          padding: 0;
          margin-right: 20px;
          line-height: 70px;
        }
      }
    }
    div {
      position: relative;
      float: right;
      width: 30%;
      min-height: 70px;
      text-align: right;
      i {
        position: absolute;
        top: 30px;
        right: 54%;
        color: $green;
        cursor: pointer;
      }
      form {
        display: none;
        position: absolute;
        padding: 0;
        top: 58px;
        left: -65px;
        width: 70%;
        height: 40px;
        padding: 10px;
        font-size: 20px;
        background: $lightgrey;
        border-radius: 5px;
        font-weight: bold;
        .search {
          width: 100%;
          height: 100%;
          border: none;
          background: transparent;
          position: relative;
        }
        span {
          position: absolute;
          top: -20px;
          right: 10%;
          display: block;
          padding: 0;
          margin: 0;
          width: 0;
          height: 0;
          border-width: 10px 10px 10px 10px;
          border-style: solid;
          border-color: transparent transparent $lightgrey transparent;
        }
      }
      span {
        display: inline-block;
        padding: 15px 10px;
        margin: 10px auto;
        font-size: 20px;
        color: $darkgrey;
        border-left: 1px solid $lightgrey;
        font-weight: 900;
        font-family: "Font Awesome 5\ Free";
      }
    }
  }
}
/* End Styling The navbar of The Website*/
/* Start Styling The Slider*/
.slider {
  width: 100%;
  height: 72vh;
  position: relative;
  > div {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      opacity: .6;
    }
    div {
      text-align: center;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      color: $white;
      h3 {
        font: italic 30px arial, tahoma;
        border-bottom: 1px solid $white;
        display: inline-block;
        padding-bottom: 20px;
        margin-bottom: 0;
      }
      h1 {
        font: normal bold 60px arial, tahoma;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      p {font: normal 20px arial, tahoma;}
      button {
        padding: 20px 30px;
        border: none;
        background: $green;
        border-radius: 5px;
        color: $white;
        cursor: pointer;
        margin: 30px auto;
        font: normal 20px arial, tahoma;
      }
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      background: rgba(75, 75, 75, .3);
    }
    ul {
      position: absolute;
      left: 50%;
      bottom: 20px;
      z-index: 2;
      padding: 0;
      list-style-type: none;
      li {
        display: inline-block;
        padding: 5px;
        margin: auto 5px;
        cursor: pointer;
        border: 3px solid $white;
        transform: rotate(45deg);
        &.active {border-color: $green;}
      }
    }
  }
}

.lpa {
  text-align: center;
  padding: 35px 0 0;
  overflow: hidden;
  min-height: 90vh;
  h1 {
    display: inline-block;
    position: relative;
    color: $dark;
    padding-bottom: 20px;
    border-bottom: 1px solid $darkgrey;
    &::after {
      content: "";
      display: block;
      padding: 3px;
      position: absolute;
      bottom: -5px;
      margin-left: -7.7px;
      left: 50%;
      border: 2px solid $green;
      transform: rotate(45deg);
      background: $white;
    }
  }
  .container {
    min-height: 700px;
    padding: 40px 0;
    cursor: pointer;
    div {
      width: calc(89% / 4);
      text-align: center;
      position: relative;
      float: left;
      figure {
        margin: 0;
        position: relative;
        img {
          width: 100%;
          opacity: .7;
        }

        figcaption {
          color: $green;
          font-size: 18px;
          text-transform: uppercase;
          border-bottom: 1px solid $green;
          display: inline-block;
          padding-bottom: 5px;
        }
        &:hover::before {
          font-family: "Font Awesome 5\ Free";
          font-weight: 400;
          content: "\f004";
          padding: 7px 7px 7px 12px;
          position: absolute;
          top: 10px;
          left: -10px;
          background: $darkgrey;
          color: $white;
          border-radius: 0 5px 5px 0;
        }
        &:hover .like {
          width: 0;
          height: 0;
          border-width: 10px 10px 10px 10px;
          border-style: solid;
          border-color: $dark transparent transparent transparent;
          position: absolute;
          top: 32px;
          left: -6px;
          transform: rotate(-135deg);
          z-index: -1;
        }
        &:hover::after {
          content: "+ Quwick view";
          display: block;
          width: 100%;
          background: $redrg;
          color: $white;
          text-transform: uppercase;
          text-align: center;
          position: absolute;
          left: 0;
          bottom: 30px;
          padding: 20px 0;
          cursor: pointer;
        }
        .sale {display: none;}
        &:hover .sale {
          display: block;
          padding: 5px 20px 5px 10px;
          position: absolute;
          top: 10px;
          right: -10px;
          background: $lightblue;
          border-radius: 5px 0 0 5px;
          font-size: 20px;
          color: $white;
          &::after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-width: 15px 15px 15px 15px;
            border-style: solid;
            border-color: $dark transparent transparent transparent;
            position: absolute;
            top: 33px;
            right: 0;
            z-index: -1;
          }
        }
      }
      h3 {
        color: $dark;
        margin: 10px auto;
      }
      .oldp, .newp {
        display: block;
        margin-top: 5px;
        font-size: 20px;
        color: $dark;
      }
      .oldp {
        text-decoration: line-through;
        color: $darkgrey;
      }
      &:hover::before {
        content: "";
        display: block;
        position: absolute;
        top: -22px;
        left: -22px;
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        border: 2px solid $green;
      }
      &:not(:last-of-type) {margin-right: calc(11% / 3);}
      &:hover img {
        opacity: 1;
      }
    }
  }
}

.bsa {
  padding: 50px 0 0;
  .container {
    overflow: hidden;
    > div {
      width: calc(96% / 3);
      float: left;
      h2 {
        color: $dark;
        display: inline-block;
        span {
          width: 1.7em;
          height: 2px;
          margin-top: 10px;
          background: $green;
          display: block;
          position: relative;
          &::after {
            content: "";
            background: $white;
            display: block;
            position: absolute;
            top: -4px;
            left: 50%;
            margin-left: -4.5px;
            padding: 3px;
            border: 2px solid $green;
            transform: rotate(45deg);
          }
        }
      }
      div {
        overflow: hidden;
        margin-bottom: 40px;
        cursor: pointer;
        img {
          float: left;
          margin-right: 10px;
          opacity: .6;
          &:hover {
            opacity: 1;
          }
        }
        h3 {
          margin: 0;
          color: $green;
          text-transform: uppercase;
          position: relative;
          display: inline-block;
          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 40px;
            height: 2px;
            background: $green;
          }
        }
        p {
          margin-bottom: 10px;
          color: $dark;
        }
        span {
          color: $darkgrey;
          font-size: 20px;
          &:first-of-type {
            text-decoration: line-through;
          }
          &:last-of-type {
            color: $dark;
          }
        }
      }
      &:not(:last-of-type) {
        margin-right: calc(4% / 2);
      }
    }
  }
}


.lb {
  text-align: center;
  padding: 60px 0;
  h1 {
    color: $dark;
    display: inline-block;
    position: relative;
    margin-bottom: 60px;
    margin-top: 0;
    span {
      display: block;
      width: 100%;
      height: 1px;
      background: $green;
      position: absolute;
      bottom: -10px;
    }
    &::after {
      content: "";
      display: block;
      padding: 3px;
      position: absolute;
      bottom: -14px;
      left: 50%;
      margin-left: -3px;
      background: $white;
      border: 2px solid green;
      transform: rotate(45deg);
    }
  }
  .container {
    text-align: center;
    overflow: hidden;
    div {
      cursor: pointer;
      width: calc(94% / 3);
      color: $darkgrey;
      float: left;
      img {
        width: 100%;
        opacity: .7;
      }
      h3 {
        &::after {
          content: "";
          width: 2.7em;
          height: 1px;
          display: block;
          margin: 15px auto;
          background: $green;
        }
      }
      p {
        text-align: justify;
      }
      span {
        color: $green;
        font-size: 18px;
        text-transform: uppercase;
      }
      &:not(:last-of-type) {
        margin-right: calc(6% / 2);
      }
      &:hover img {
        opacity: 1;
      }
    }
  }
}
/* End Styling The Slider*/
/* Start Styling The Footer*/
footer {
  background: $dareker;
  overflow: hidden;
  padding: 30px 0 0;
  .container {
    overflow: hidden;
    > div {
      float: left;
      width: calc(96% / 4);
      > div {
        h1 {
          color: $white;
          display: inline-block;
          margin-right: 10%;
          cursor: pointer;
          span {
            display: inline-block;
            border: 2px solid $green;
            padding: 5px;
            transform: rotate(45deg);
            margin: 5px;
            position: relative;
            top: 3px;
          }
          &::after {
            content: "";
            display: block;
            width: 1.7em;
            height: 1px;
            margin-top: 10px;
            background: $darkgrey;
          }
        }
        i {
          color: $darkgrey;
          cursor: pointer;
          transition: color .7s ease-in-out;
          &:not(:last-of-type) {
            margin-right: 10px;
          }
          &:hover {
            color: $green;
          }
        }
      }
      p {
        color: $darkgrey;
        line-height: 1.7;
      }
      &:not(:last-of-type) {
        margin-right: calc(4% / 3);
      }
      h2 {
        margin-top: 30px;
        color: $green;
        &::after {
          content: "";
          display: block;
          width: 1.7em;
          height: 1px;
          margin-top: 10px;
          background: $darkgrey;
        }
      }
      form {
        input {
          display: block;
          width: 100%;
          padding: 15px;
          border-radius: 5px;
          border: 0;
          margin-top: 10px;
          font-size: 20px;
          color: $darkgrey;
          &:last-of-type {
            background: $lightblue;
            color: $lightgrey;
          }
        }
      }
    }
    ul {
      list-style-type: none;
      margin: 30px 0 0 0;
      padding: 0;
      li {
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
          color: $darkgrey;
          border-bottom: 1px solid $darkgrey;
          padding: 10px 0;
          display: block;
          position: relative;
          &.active, &:hover {
            color: $green;
            border-color: $green;
          }
          &::after {
            font-weight: 900;
            font-family: "Font Awesome 5\ Free";
            content: "\f105";
            color: inherit;
            position: absolute;
            top: 15%;
            right: 0;
            font-size: 1.2em;
          }
        }
      }
    }
  }
}
.bf {
  overflow: hidden;
  padding: 10px 0;
  background: $verydark;
  margin-top: 30px;
  .container {
    overflow: hidden;
    p {
      float: left;
      color: $darkgrey;
      transition: color .4s ease-in-out;
      &:hover {
        color: $white;
      }
    }
    i {
      float: right;
      background: $dareker;
      padding: 10px;
      border-radius: 50%;
      color: $darkgrey;
      cursor: pointer;
      transition: color .4s ease-in-out;
      &:hover {
        color: $white;
      }
    }
    a {
      color: $darkgrey;
      text-decoration: none;
      font-size: 18px;
      transition: color .4s ease-in-out;
      &:hover {
        color: $green;
      }
    }
  }
}
/* End Styling The Footer*/
/*Start Of My Frame Work*/
.container {width: 70%; margin: auto;}
.clear {clear: both;}
hr {border-color: $lightgrey;border-width: .7px;margin: 50px auto;border-style: solid;}
/*End Of My Frame Work*/
